<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
Water Champ
</title>
<link rel="stylesheet"  href="/bootstrap/css/bootstrap.css" type="text/css" media="screen"/>
<link rel="stylesheet"  href="/css/style.css" type="text/css" media="screen"/>
<!--[if lte IE 8]>
<link rel="stylesheet"  href="menuie.css" type="text/css" media="screen"/>
<link rel="stylesheet"  href="vmenuie.css" type="text/css" media="screen"/>
<![endif]-->
<script type="text/javascript" src="/js/totop.js">
</script>
<!--[if IE 7]>
<style type="text/css" media="screen">
#ttr_vmenu_items  li.ttr_vmenu_items_parent {margin-left:-16px;font-size:0px;}
</style>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="html5shiv.js">
</script>
<script type="text/javascript" src="respond.min.js">
</script>
<![endif]-->
</head>
<body class="Home">
<div class="totopshow">
	<a href="#" class="back-to-top"><img alt="Back to Top" src="/images/gototop0.png"/></a>
</div>
<header id="ttr_header">
<div id="ttr_header_inner">
	<div class="innermenu">
<nav id="ttr_menu" class="navbar-default navbar">
<div id="ttr_menu_inner_in">
<div class="ttr_menushape1">
<div class="html_content">
	<p style="margin:0em 0.36em 0em 0em;text-align:Center;line-height:0.695774647887324;"><br style="font-family:'Roboto','Impact';font-weight:700;font-size:0.143em;color:rgba(52,52,52,1);" />
	</p>
	<p style="margin:0em 0.36em 0.36em 0em;text-align:Center;line-height:0.695774647887324;">
		<span style="font-family:'Roboto','Impact';font-weight:700;font-size:1.571em;color:rgba(52,52,52,1);">Water Champ
		</span>
	</p>
</div>
</div>
<div id="navigationmenu">
	<div class="navbar-header">
	<button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
		<span class="sr-only"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>
<div class="menu-center collapse navbar-collapse">
	<ul class="ttr_menu_items nav navbar-nav navbar-right">
	<li class="ttr_menu_items_parent dropdown active">
		<a href="/competition/home" class="ttr_menu_items_parent_link_active">
			<span class="menuchildicon"></span>Home
		</a>
	</li>
	<li class="ttr_menu_items_parent dropdown">
		<a href="/competition/events" class="ttr_menu_items_parent_link">
			<span class="menuchildicon"></span>Event
		</a>
	</li>
	<li class="ttr_menu_items_parent dropdown">
	<a href="/competition/category" class="ttr_menu_items_parent_link">
		<span class="menuchildicon"></span>Score Board
	</a>
	</li>
	<li class="ttr_menu_items_parent dropdown">
	<a href="/competition/live" class="ttr_menu_items_parent_link">
		<span class="menuchildicon"></span>Live
	</a>
	</li>
	</ul>
</div>
</nav>

</div>
{% block header %}

{% endblock %}
</header>

{% block content %}


{% endblock %}
<footer id="ttr_footer">
<div class="ttr_footer_bottom_footer_inner">
<div id="ttr_footer_designed_by_links">
<span id="ttr_footer_designed_by">
<p>&copy;WaterChamp.com</p>
</span>
</div>
</div>
</footer>
</body>
</html>
