{% extends 'admin' %}

{% block nav %}
    <li><a href="/competition/live"><i class="glyphicon glyphicon-record"></i> Live Video</a></li>
    <li><a href="/competition/events"><i class="glyphicon glyphicon-user"></i> Events</a></li>
    <li><a href="/competition/category"><i class="glyphicon glyphicon-play-circle"></i> Score</a></li>
{% endblock %}

{% block content %}

{% endblock %}