{% extends 'admin' %}

{% block nav %}
    <li><a href="/category"><i class="glyphicon glyphicon-th-large"></i> Categories</a></li>
    <li><a href="/team"><i class="glyphicon glyphicon-record"></i> Teams</a></li>
    <li class="current"><a href="/participant"><i class="glyphicon glyphicon-user"></i> Participants</a></li>
    <li><a href="/video"><i class="glyphicon glyphicon-play-circle"></i> Video</a></li>
    <li><a href="/event"><i class="glyphicon glyphicon-th-list"></i> Event</a></li>
{% endblock %}

{% block content %}

{% endblock %}