{% extends 'team' %}

{% block content %}
	

<div class="row">
	<div class="col-md-6 panel-success">

		<div class="content-box-header panel-heading">
			<div class="panel-title ">Team</div>
		</div>

		<div class="content-box-large box-with-header">

		        {% if successMessage %}
		            <div class="alert alert-success alert-dismissable">
		                <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>
		                <strong>Success!</strong> {{successMessage}}.
		            </div>
		        {% endif %}

		        {% if old('errors') %}
		            <div class="alert alert-danger alert-dismissable">
		                {% for error in old('errors') %}
		                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>
		                    <li> {{ error.message }} </li>
		                {% endfor %}
		            </div>
		        {% endif %}

		        {{ form.open({route: 'team.store'}) }}

	        		{{csrfField}}


	                    <div class="form-group ">
	                        {{form.label('name','Team Name') }}
	                        <div>
	                            {{ form.text('name','',{ class: 'form-control'})}}
	                        </div>
	                    </div>

	                    <div class="form-group ">
	                        {{form.label('name','Country') }}
	                        <div>
	                            {{ form.text('country','',{ class: 'form-control'})}}
	                        </div>
	                    </div>

	                    <div class="form-group ">
	                        {{form.label('name','Player 1') }}
	                        <div>
	                            {{ form.text('name1','',{ class: 'form-control'})}}
	                        </div>
	                    </div>

	                    <div class="form-group ">
	                        {{form.label('name','Player 2') }}
	                        <div>
	                            {{ form.text('name2','',{ class: 'form-control'})}}
	                        </div>
	                    </div>

	                    <div class="form-group ">
	                        {{form.label('name','Player 3') }}
	                        <div>
	                            {{ form.text('name3','',{ class: 'form-control'})}}
	                        </div>
	                    </div>

	                    <div class="form-group ">
	                        {{form.label('name4','Player 4') }}
	                        <div>
	                            {{ form.text('name4','',{ class: 'form-control'})}}
	                        </div>
	                    </div>  


	                    <div class="form-group "> 
                        	{{form.label('','Category') }}
                            <select name="category_id" class="form-control">
                            	{% for category in categories %}
						  			<option value="{{category.id}}" >{{category.name}}</option>
						  		{% endfor %}
							</select>
                        </div>

	                    {{ form.submit('Create','submit', { class: 'btn btn-success', style: 'margin-top: 20px'}) }}


	            {{ form.close() }}


	    </div>
	</div>
</div>

	  	
{% endblock %}