{% extends 'team' %}

{% block content %}
	

<div class="row">
	<div class="col-md-8 panel-primary">

		<div class="content-box-header panel-heading">
			<div class="panel-title ">Teams</div>
		</div>

		<div class="content-box-large box-with-header">
			
	        {{ form.open({ route: 'team.create' }) }}
	            {{ form.button('Create','', { class: 'btn btn-success ', style: 'margin: 0 0 20px 0' }) }} 
	        {{ form.close() }}
		    

			<table class="table table-condensed">
				<tr>
					<th>Name</th>
					<th>Country</th>
					<th>Player 1</th>
					<th>Player 2</th>
					<th>Player 3</th>
					<th>Player 4</th>
					<th>Time</th>
					<th>Category</th>
					<th>View</th>
				</tr>
				{% for team in teams %}
					<tr>
						<td>{{team.name}}</td>
						<td>{{team.country}}</td>
						<td>{{team.name1}}</td>
						<td>{{team.name2}}</td>
						<td>{{team.name3}}</td>
						<td>{{team.name4}}</td>
						<td>{{team.time}}</td>
						<td>{{team.category.name}}
						<td><a href="team/{{team.id}}">View</a></td>
					</tr>
				{% endfor %}
			</table>
	    </div>
	</div>
	
</div>

	  	
{% endblock %}