{% extends 'base' %}

{% block header %}
<div class="ttr_headershape01">
	<div class="html_content">
		<p style="margin:12em 0em 0.36em 1.43em;text-align:Center;">
			<span style="font-family:'Ubuntu','Arial';font-size:3em;color:rgba(0,0,0,1);">This life is like a swimming pool. You dive into the water, 
			</span>
			<span style="font-family:'Ubuntu','Arial';font-size:3em;color:rgba(0,0,0,1);">but you can't see how deep it is.
			</span>
		</p>
</div>
{% endblock %}

{% block content %}

{% endblock %}