{% extends 'competition' %}

{% block content %}
	

<div class="row">
	<div class="col-md-8 panel-success">

	
				<div class="content-box-header panel-heading">
					<div class="panel-title ">Video</div>
				</div>
		        <div class="content-box-large box-with-header" style="margin-botton:20px">
		        	<iframe width="900" height="580" src="{{video.video_url}}" frameborder="0" allowfullscreen></iframe>
		        </div>
	</div>
</div>

	  	
{% endblock %}